<app-navbar></app-navbar>
<main>
  <section id="inicio">
    <app-hero></app-hero>
  </section>
  <section id="experiencia" class="py-20" appScrollAnimation>
    <app-experience></app-experience>
  </section>
  <section id="portafolio" class="py-20 bg-gray-900" appScrollAnimation>
    <app-portfolio></app-portfolio>
  </section>
  <section id="acerca" class="py-20 bg-gray-950" appScrollAnimation>
    <app-about></app-about>
  </section>
  <section id="contacto" class="py-20 bg-gray-900" appScrollAnimation>
    <app-contact></app-contact>
  </section>
  <!-- <app-footer></app-footer> -->
</main>
